@font-face {
	font-family: 'Inter';
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url("../fonts/inter.woff2") format("woff2");
}

:root {
	/* colour scheme */
    --h: 30;
	--s: 16%;
	/* create shades*/
	--bg-lightness: 100%;
	--bg-muted-lightness: 97%;
	--text-lightness: 10%;
    --text-muted-lightness: 40%;
	--border-lightness: 90%;
	
	--bg: hsl(var(--h) var(--s) var(--bg-lightness));
	--bg-muted: hsl(var(--h) var(--s) var(--bg-muted-lightness));
	--text: hsl(var(--h) var(--s) var(--text-lightness));
    --text-muted: hsl(var(--h) var(--s) var(--text-muted-lightness));
	--border: hsl(var(--h) var(--s) var(--border-lightness));

	--highlight: var(--orange);
	--select-text: hsl(var(--h) 100% 96%);
	--red: hsl(3 100% 45%);
	--green: hsl(153 42% 35%);
	--blue: hsl(240 80% 50%);
	--orange: hsl(30 100% 45%);
	--yellow: hsl(50 100% 60%);

	--shadow: 
    0 8px 48px hsl(var(--h) 20% 96%), 
    0 4px 8px hsl(var(--h) 20% .28% / 6%);
	--shadow-inset: 
	inset 0 0 6px -2px hsl(var(--h) var(--s) 84%);

	/* font defaults */
	--ff-sans: "Inter", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;

	/* font-size defaults */
	--fs0: clamp(3.05rem, calc(2.75rem + 1.49vw), 3.82rem);
	--fs1: clamp(2.44rem, calc(2.20rem + 1.19vw), 3.05rem);
	--fs2: clamp(1.95rem, calc(1.76rem + 0.95vw), 2.44rem);
	--fs3: clamp(1.56rem, calc(1.41rem + 0.76vw), 1.95rem);
	--fs4: clamp(1.25rem, calc(1.13rem + 0.61vw), 1.56rem);
	--fs5: clamp(1.00rem, calc(0.90rem + 0.49vw), 1.25rem);
	--fs-body: 1rem;
    --fs-small: .875rem;

	/* measure defaults*/
	--m: 65ch;
	--m-short: 45ch;
	--m-wide: 75ch;

	/* line-height defaults*/
	--lh-solid: 1;
	--lh-copy: 1.5;
	--lh-title: 1.2;

	/* letter-spacing defaults */
	--ls: .25em;
	--ls-short: -.05em;
	--ls-wide: .5em;

	/* border radius */
	--radius: .25rem;
}