/*--------------------------
	Text utilities
---------------------------*/

.fs0 { font-size: var(--fs0) }
.fs1 { font-size: var(--fs1) }
.fs2 { font-size: var(--fs2) }
.fs3 { font-size: var(--fs3) }
.fs4 { font-size: var(--fs4) }
.fs5 { font-size: var(--fs5) }
.fs-body { font-size: var(--fs-body) }
.fs-small { font-size: var(--fs-small) }

.fw1 { font-weight: 100 }
.fw2 { font-weight: 200 }
.fw3 { font-weight: 300 }
.fw4 { font-weight: 400 }
.fw5 { font-weight: 500 }
.fw6 { font-weight: 600 }
.fw7 { font-weight: 700 }
.fw8 { font-weight: 800 }
.fw9 { font-weight: 900 }

.lh-solid { line-height: var(--lh-solid) }
.lh-copy { line-height: var(--lh-copy) }
.lh-title { line-height: var(--lh-title) }

.ttu { text-transform: uppercase }
.tc { text-align: center }

.ls { letter-spacing: var(--ls) }
.ls-short { letter-spacing: var(--ls-short) }
.ls-wide { letter-spacing: var(--ls-wide) }

.m { max-inline-size: var(--m) }
.m-short { max-inline-size: var(--m-short) }
.m-wide { max-inline-size: var(--m-wide)}

.hidden { display: none }
:is(.visually-hidden, .sr-only) {
    position: absolute;
    inline-size: 0;
    block-size: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    word-wrap: normal;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.toggla[aria-expanded=false] + * {
    display: none
}
.toggla[aria-expanded=true] + * {
    display: block
}

/*--------------------------
	Layout utilities
---------------------------*/

.x-wrapper {
	margin-inline: auto;
	inline-size: min(100% - var(--x-wrapper-inline-margin, 5vmin), var(--x-wrapper-max-width, 70rem)); 
}

.x-grid {
	display: grid;
	gap: var(--x-grid-gap, 1rem);
	grid-template-columns: repeat(auto-fit, minmax(min(var(--x-grid-min, 20rem), 100%), var(--x-grid-max, max-content)));
}

.x-cluster {
    display: flex;
    flex-wrap: var(--x-cluster-wrap, wrap);
    gap: var(--x-cluster-gap, 1rem);
}

.x-stack > * + * {
    margin-block-start: var(--x-stack-margin, 1em);
}

.x-grid > *, .x-cluster > * {
    margin-block-start: 0;
}