<div class="x-flex cesem-partners">
  <div>
    <img src="/{{ base_path ~ directory }}/lorvao.jpg">
  </div>
  <div>
    <a href="http://cistercianhorizons.fcsh.unl.pt/" target="_blank"><img src="/{{ base_path ~ directory }}/cisterHor-logo.png"></a>
  </div>
  <div>
    <a href="https://iem.fcsh.unl.pt/" target="_blank"><img src="/{{ base_path ~ directory }}/iem-logo.jpg"></a>
  </div>
</div>
