/*--------------------------
	Basic defaults
---------------------------*/

:where(input, button, select, textarea):focus:not(input[type="range"]) {
	outline: 3px solid transparent;
	box-shadow: 0 0 0 2px currentColor;
}

input, button, textarea, select,
input[type="file"]::-webkit-file-upload-button,
input[type="file"]::file-selector-button {
	font: inherit;
	font-size: inherit;
	color: inherit;
	letter-spacing: inherit;
	padding-inline: .75rem;
	padding-block: .75rem;
	border-radius:  var(--radius);
	border: 1px solid var(--border);
}

input, select,
textarea {
	inline-size: 100%;
	background-color: var(--bg-muted);
	box-shadow: var(--shadow-inset);
}

textarea {
	resize: vertical;
}

label {
	display: flex;
	align-items: center;
	gap: .5rem;
}

label + input[type="range"] {
	margin-block-start: 1rem;
}

/*--------------------------
	Fieldset
---------------------------*/

fieldset {
    display: grid;
    gap: 1rem;
	padding: 1rem;
	border: 1px solid var(--border);
	border-radius: .25rem;
}

/*--------------------------
	Select
---------------------------*/

select {
	appearance: none;
	padding-inline-end: 2rem;
	background-color: var(--bg);
	box-shadow: var(--shadow);
	/* arrow icon */
	background-image: 
	  conic-gradient(
		from 45deg, 
		transparent 0% 25%, 
		transparent 0% 75%,
		currentColor 0%
	  );
	background-size: 12px 12px;
	background-position: right 1rem top calc(50% + 4px);
	background-repeat: no-repeat;

	&[multiple] {
		background-color: var(--bg-muted);
		background-image: none;
		box-shadow: var(--shadow-inset);
	}
}

/*--------------------------
	Buttons
---------------------------*/

button, button[type], input[type="button"], input[type="submit"], input[type="reset"],
input[type="file"]::-webkit-file-upload-button,
input[type="file"]::file-selector-button {
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	cursor: pointer;
	font-weight: 500;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: .5rem;
	inline-size: max-content;
	padding-inline: 1rem;
	padding-block: .5rem;
	background-color: var(--bg);
	box-shadow: var(--shadow);
}

input[type="file"]::-webkit-file-upload-button,
input[type="file"]::file-selector-button {
	font-size: .875rem;
	margin-inline-start: -.25rem;
	padding-block: .125rem;
}

/*--------------------------
	Checkbox + Radio
---------------------------*/

input:is([type="checkbox"],[type="radio"]) {
	-webkit-appearance: none;
	appearance: none;
	inline-size: 1.5rem;
	block-size: 1.5rem;
	display: inline-grid;
	place-content: center;
	padding: 0;
}

input:is([type="checkbox"],[type="radio"])::before {
	content: "";
	transform: scale(0);
	transition: 120ms transform ease-in-out;
}
	
input:is([type="checkbox"],[type="radio"]):checked::before {
	transform: scale(1);
}

input[type="checkbox"]::before {
	inline-size: 1.25rem;
	block-size: 1.25rem;
	transform-origin: center center;
	clip-path:polygon(16% 45%,0 64%,44% 100%,100% 22%,80% 8%,39% 65%);
	background-color: currentColor;
}

input[type="checkbox"]:checked::before {
	transform: scale(.6);
}

input[type="radio"] {
	border-radius: 50%;
}

input[type="radio"]::before {
	inline-size: .5rem;
	block-size: .5rem;
	box-shadow: inset 1em 1em currentColor;
	border-radius: 50%;
}