/*---------------------------
    BUTTONS
---------------------------*/
.button {
    appearance: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    outline: none;
    padding-inline: var(--s3);
    background-color: transparent;
    color: var(currentColor,--c);
    box-shadow: none;
    border: 0;
    user-select: none;
    -webkit-touch-callout: none;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    border-radius: var(--radius);
    transition: background-color var(--animation-duration), border-color var(--animation-duration), color var(--animation-duration);

    &:disabled {
        --bc: var(--c-2);
        --bg: var(--c-1);
        --c: var(--c-3);
    }
}

.button--simple {
    &:focus {
        box-shadow: inset 0 0 0 1px var(--c-9);
    }
}

.button--small {
    font-size: var(--h6);
    height: var(--s4);
}

.button--primary, a.button--primary {
    background-color: var(--bg,var(--c-9));
    border: 1px solid var(--bc,var(--c-9));
    color: var(--c,var(--c-0));
    
    &:hover:not(:disabled) {
        --bg: var(--c-0);
        --c: var(--c-9);
    } 
    &:focus:not(:disabled) {
        box-shadow: 0 0 0 2px var(--c-brand);
    }
}

.button--secondary, a.button--secondary {
    background-color: var(--bg,var(--c-0));
    border: 1px solid var(--bc,var(--c-9));
    color: var(--c,var(--c-9));

    &:hover:not(:disabled) {
        --bg: var(--c-9);
        --c: var(--c-0);
    }
    &:focus:not(:disabled) {
        box-shadow: 0 0 0 2px var(--c-brand);
    }
}