/*-----------------------
    Page layout
-----------------------*/
.wrapper {
    max-width: 90rem;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    --modifier: calc(1280px - 100%);
    gap: 1rem;
}

header {
    flex-grow: 1;
    flex-basis: calc(var(--modifier) * 999);
    padding: 0 3vw;
}
main {
    flex-grow: 3;
    flex-basis: calc(var(--modifier) * 999);
    padding: 0 3vw;
}

footer {
    flex-grow: 1;
    flex-basis: 100%;
    padding: 5vw;
}

div.field--name-field-images {
    grid-column: 1 / -1;

    & ul.field__items {
        display: grid;
        gap: var(--s3);
        grid-template-columns: repeat(auto-fit, minmax(min(12rem, 100%), 1fr));

        & .field__item a {
            display: block;
            inline-size: 100%;
            block-size: 100%;
        }

        & .field__item a img {
            object-fit: cover;
        }
    }
}
/*-----------------------
    WYSIWYG content
-----------------------*/
.editor h2 {
    font-size: var(--h4)
}
.editor h3, .field--name-field-mt-description h3 {
    font-size: var(--h5)
}
.editor h2, .editor h3, .field--name-field-mt-description h3 {
    line-height: var(--lh-title);
}
.editor p, .field--type-text-with-summary p, .field--name-field-mt-description p, .editor li, .field--name-field-mt-description li {
    font-size: var(--h5);
    line-height: var(--lh-copy)
}
.editor h2, .editor h3, .field--name-field-mt-description h3, .editor p, .field--type-text-with-summary p, .field--name-field-mt-description p, .editor li, .field--name-field-mt-description li {
    margin-bottom: var(--s3);
    max-width: var(--txt);
}
.editor a, .field--type-text-with-summary a, .field--name-field-mt-description a {
    color: var(--c-brand);
    text-decoration: underline;
    &:focus, &:hover {
        color: var(--c-9);
    }
}
/*-----------------------
    Local tasks menu
-----------------------*/
.tabs.primary {
    list-style: none;
    display: flex;
    max-width: 30rem;
    margin-bottom: var(--s4);
}
.tabs.primary a {
    font-size: .75rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 var(--s3) 0 0;

    color: var(--c-brand);
}
/*------------------------------
    Pagination first and last child border radius
-------------------------------*/
.pager ul {
    max-width: 20rem;
	border: 1px solid var(--c-2);
	border-radius: var(--radius);

    & > li a {
        display: block;
        padding: var(--s3);
        color: var(--c-9);
        &:hover {
            color: var(--c-brand);
        }
    }

    & > li.is-active a {
        font-weight: 700;
        background-color: var(--c-1);
    }
}
.pager__items li:first-child a {
    border-radius: var(--radius) 0 0 var(--radius);
    &:hover {
        background-color: var(--c-brand);
        color: var(--c-0);
    }
}
.pager__items li:last-child a {
    border-radius: 0 var(--radius) var(--radius) 0;
    &:hover {
        background-color: var(--c-brand);
        color: var(--c-0);
    }
}
/*-----------------------
    Status messages
-----------------------*/
.notify {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    padding: 5vh var(--s3);

    & > * {
        position: relative;
        max-width: var(--s8);
        padding: var(--s3);
        margin: auto;
        background-color: var(--c-0);
        border: 1px solid var(--bc, var(--c-alert));
        color: var(--tc, var(--c-alert));
        border-radius: var(--radius);
        box-shadow: var(--shadow-m);

        & > *:not(a) {
            color: currentColor;
        }

        & > button {
            position: absolute;
            top: -1rem;
            right: -1rem;
            width: 2rem;
            height: 2rem;
            padding-inline: var(--s1);
            background-color: var(--c-0);
            border: 1px solid var(--bc, var(--c-alert));
            border-radius: 100%;
        }

        &.error {
            --tc: var(--c-error-dark);
            --bc: var(--c-error);
        }
        &.warning {
            --tc: var(--c-warning-dark);
            --bc: var(--c-warning);
        }
        &.success, &.info {
            --tc: var(--c-success-dark);
            --bc: var(--c-success);
        }
    }
}
/*-----------------------
    Search results list
-----------------------*/
.search-result-item {
    margin-bottom: var(--s4);
    border-top: 1px solid var(--c-2);

    & > li {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        font-size: var(--h6);
        padding: var(--s3);
        color: var(--c-6);
        border-bottom: 1px solid var(--c-2);
    }
}