@custom-media --full-width (width >= 1080px);

.docs-layout {
    block-size: 100%;
	margin-inline: auto;
	max-inline-size: 90rem; 
    
    @media (--full-width) {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    & :is(header, main, footer) {
        padding-inline: clamp(5vmin, 5vmin, 15vmin);
    }

    & header {
        padding-block: 5vmin;
    }

    & main, & footer {
        padding-block: 10vmin;
    }

    & footer {
        @media (--full-width) {
            grid-column: 1/-1;
        }
    }
}

.view-entities {

    & .view-filters {}
    & .attachment-before {}
    & .view-content {}
    & .pager {}
}