footer {
    --x-stack-margin: 2rem;
    color: var(--text-muted);
}
.cesem-partners {
    --x-cluster-gap: 1rem;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
footer p {
    font-size: var(--fs-small);
    text-align: center;
}
sb-credit {
    --x-cluster-gap: 1ch;
    font-size: var(--fs-small);
    align-items: center;
    justify-content: center;
    margin-inline: auto;

    & a {
        --x-cluster-gap: .25rem;
        font-weight: 700;
        align-items: center;
        color: var(--text);
    }
    & .squarebit {
        width: 1rem;
        height: 1rem;
        background-color: #ff5000;
        clip-path: polygon( 0 0, 62.5% 0, 62.5% 25%, 75% 25%, 100% 25%, 100% 0, 75% 0, 75% 25%, 25% 25%, 25% 75%, 75% 75%, 75% 37.5%, 100% 37.5%, 100% 100%, 0 100% );
    }
}