header {
    --x-cluster-gap: .25rem;
    align-items: center;

    @media (--full-width) {
        --x-cluster-gap: 2rem;
        flex-direction: column;
        align-items: start;
    }

    & .branding-block {
        font-size: var(--fs4);
        font-weight: 600;
        align-items: var(--title, center);
        color: var(--text);

        @media (--full-width) {
            --x-cluster-gap: .5rem;
            --title: start;
            flex-direction: column;
        }

        & img {
            max-inline-size: 3rem;
            @media (--full-width) {
                max-inline-size: clamp(3rem, -0.852rem + 19.26vw, 16rem);
            }
        }
    }


    & .lang-switch {
        --x-cluster-gap: 0;
        max-width: max-content;
        margin-inline-start: auto;
        border: 1px solid var(--border);
        border-radius: var(--radius);
        box-shadow: var(--shadow);
        overflow: hidden;

        @media (--full-width) {
            margin-inline-start: 0;
        }

        & a {
            display: block;
            font-weight: 600;
            padding: .5rem;

            &.is-active {
                background-color: var(--text);
                color: var(--bg);
            }
        }
    }
}