header {
    --x-cluster-gap: .25rem;
    align-items: center;

    @media (--full-width) {
        --x-cluster-gap: 2rem;
        flex-direction: column;
        align-items: start;
    }

    & .branding-block {
        align-items: var(--title, center);
        color: var(--text);
        
        @media (--full-width) {
            --x-cluster-gap: .5rem;
            --title: start;
            flex-direction: column;
        }
        
        & span {
            font-size: clamp(0.58rem, 0.298rem + 1.41vw, 1.25rem);
            font-weight: 600;
            line-height: var(--lh-solid);
            max-inline-size: 15ch;
        }

        & img {
            max-inline-size: clamp(3rem, -8.471rem + 30.59vw, 16rem);
        }
    }


    & .lang-switch {
        --x-cluster-gap: 0;
        max-width: max-content;
        margin-inline-start: auto;
        border: 1px solid var(--border);
        border-radius: var(--radius);
        box-shadow: var(--shadow);
        overflow: hidden;

        @media (--full-width) {
            margin-inline-start: 0;
        }

        & a {
            display: block;
            font-weight: 600;
            padding: .5rem;

            &.is-active {
                background-color: var(--text);
                color: var(--bg);
            }
        }
    }
}