@custom-selector :--fields input:not([type=checkbox],[type=radio],[type="range"],[type="submit"],[type="reset"]), textarea, select;

fieldset {
    border: none;
}
label {
    display: block;
    font-size: var(--h6);
    margin-bottom: var(--s2);
}
:--fields {
    appearance: none;
    font-family: inherit;
    font-size: var(--h5);
    width: 100%;
    height: 3rem;
    line-height: var(--lh-copy);
    outline: none;
    padding-inline: var(--s2);
    padding-block: 0;
    background-color: var(--bg, var(--c-0));
    color: var(--c, var(--c-9));
    box-shadow: none;
    border: 1px solid var(--bc, var(--c-2));
    border-radius: var(--radius);
    transition: background-color var(--animation-duration), border-color var(--animation-duration);

    &::placeholder {
        color: var(--c-4);
    }

    &:hover:not(:disabled) {
        --bc: var(--c-9);
    }

    &:focus {
        --bc: var(--c-9);
    }

    &:disabled {
        --bc: var(--c-2);
        --bg: var(--c-1);
        --c: var(--c-4);
    
        &::placeholder {
          color: var(--c);
        }
    }
}

textarea {
    min-height: var(--s6);
    padding-block: var(--s2);
    resize: vertical;
}

select {
    position: relative;
    border-color: var(--c-2);
    background-color: var(--c-0);
    color: var(--c-9);
    background-image: 
        linear-gradient(-45deg,var(--c-0) 40%, transparent 40%),
        linear-gradient(45deg,var(--c-0) 40%, var(--c-9) 40% 50%, transparent 50%),
        linear-gradient(-45deg,transparent 40%, var(--c-9) 40% 50%, transparent 50%);
    background-position: right var(--s2) center;
    background-repeat: no-repeat;
    background-size: .75rem .75rem;

    &::-ms-expand {
        display: none
    }

    &:focus, &:hover:not(:disabled) {
        border-color: var(--c-9);
    }

    &:disabled {
        background-color: var(--c-1);
        border-color: var(--c-2);
        color: var(--c-4);
        background-image: 
            linear-gradient(-45deg,var(--c-1) 40%, transparent 40%),
            linear-gradient(45deg,var(--c-1) 40%, var(--c-4) 40% 50%, transparent 50%),
            linear-gradient(-45deg,transparent 40%, var(--c-4) 40% 50%, transparent 50%);
    }
}

.description, form.user-pass p {
    font-size: var(--h6);
    margin-bottom: var(--s4);
    color: var(--c-5);
}