@custom-media --full-width (width >= 1080px);

.page-layout {
    block-size: 100%;
	margin-inline: auto;
	max-inline-size: 90rem; 
    
    @media (--full-width) {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    & :is(header, main, footer) {
        padding-inline: clamp(1rem, 0.545rem + 2.27vw, 2rem);
    }

    & header {
        padding-block: 5vmin;
    }

    & main, & footer {
        padding-block: 10vmin;
    }

    & main {
        min-inline-size: 0;
    }

    & footer {
        @media (--full-width) {
            grid-column: 1/-1;
        }
    }
}

article > .field > * + *, .taxonomy-term > .content > * + * {
    margin-block-start: 1em;
}