/*-----------------------
    Local tasks menu
-----------------------*/
.tabs.primary {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: .25rem 1rem;
    max-inline-size: max-content;
    margin-bottom: 3rem;
}
.tabs.primary a {
    font-size: .75rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
/*-----------------------
    Status messages
-----------------------*/
.notify {
    position: absolute;
    inset: 0;
    inline-size: 100%;
    z-index: 4;
    padding: 5vh 1rem;

    & > * {
        position: relative;
        max-width: max-content;
        padding: 1rem;
        margin-inline: auto;
        background-color: var(--bg);
        border: 1px solid var(--bc);
        color: var(--tc);
        border-radius: var(--radius);
        box-shadow: var(--shadow);

        & > *:not(a) {
            color: currentColor;
        }

        & > button {
            position: absolute;
            top: -1rem;
            right: -1rem;
            width: 2rem;
            height: 2rem;
            padding: 0;
            border-color: var(--bc);
            border-radius: 100%;
        }

        &.error {
            --tc: red;
            --bc: red;
        }
        &.warning {
            --tc: orange;
            --bc: orange;
        }
        &.success, &.info {
            --tc: blue;
            --bc: blue;
        }
    }
}

:is(.user-login-form, .user-register-form, .user-pass) {
    max-inline-size: 30rem;

    & > * + * {
        margin-block-start: 1em;
    }

    & > :last-child {
        display: inline-block;
        margin-block-start: 2rem;
    }
}

.user-register-form > div > * + * {
    margin-block-start: 1em;
}

.description {
    font-size: var(--fs-small);
}