:root {
    /* -------------------------------------
        Typescale
    ---------------------------------------*/
    --headline: clamp(2.25rem, calc(0.7590rem + 6.6265vw), 5rem);;
    --subheadline: clamp(1.25rem, calc(0.8434rem + 1.8072vw), 2rem);
    --h1: 2rem;
    --h2: 1.5rem;
    --h3: 1.25rem;
    --h4: 1.125rem;
    --h5: 1rem;
    --h6: 0.875rem;
    --h7: 0.75rem;
    --h8: 0.625rem;

    /* -------------------------------------
        Line-heights
    ---------------------------------------*/
    --lh-solid: 1;
    --lh-title: 1.25;
    --lh-copy: 1.5;

    /* -------------------------------------
        Text block widths
    ---------------------------------------*/
    --txt: 60ch;
    --txt-wide: 70ch;
    --txt-narrow: 30ch;
    
    /* -------------------------------------
        Spacing || Sizes
    ---------------------------------------*/
    --s1: 0.25rem;
    --s2: 0.5rem;
    --s3: 1rem;
    --s4: 2rem;
    --s5: 4rem;
    --s6: 8rem;
    --s7: 16rem;
    --s8: 32rem;
    --s9: 48rem;
    --s10: 64rem;
    --s11: 96rem;
    --svmin: 5vmin;
    
    /* -------------------------------------
        Colors
    ---------------------------------------*/
    --c-0:#fff;
    --c-1:#fafafa;
    --c-2:#eaeaea;/*border*/
    --c-3:#999;
    --c-4:#888;
    --c-5:#666;
    --c-6:#444;
    --c-7:#333;
    --c-8:#111;
    --c-9:#000;

    --c-brand: #c05621;
    
    --c-success:#0070f3;
    --c-success-light:#3291ff;
    --c-success-dark:#0366d6;
    --c-error:#e00;
    --c-error-light:#ff1a1a;
    --c-error-dark:#c00;
    --c-warning:#f5a623;
    --c-warning-light:#f7b955;
    --c-warning-dark:#f49b0b;
    --c-alert:#ff0080;
    --c-purple:#f81ce5;
    --c-cyan:#79ffe1;
    --c-violet:#7928ca;
    
    /* -------------------------------------
        Transition duration + timing
    ---------------------------------------*/
    --animation-duration: .3s;
    --animation-timing: ease;

    /* -------------------------------------
        Shadows
    ---------------------------------------*/
    --shadow-xs: 0px 4px 8px rgba(0,0,0,0.12);
    --shadow-s: 0 5px 10px rgba(0,0,0,0.12);
    --shadow-m: 0 8px 30px rgba(0,0,0,0.12);
    --shadow-l: 0 30px 60px rgba(0,0,0,0.12);

    /* -------------------------------------
        border-radius
    ---------------------------------------*/
    --radius: .25rem;

}