.view-filters {
    margin-block-end: 2rem;
  & .toggla {
    &[aria-expanded="true"] + form {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-block-start: 2rem;

        & > *:not(.form-actions) {
            flex: 1 0 16rem;
        }
    }
  }
  & > form > * + * {
    margin-block-start: 0;
  }
  & > form > .form-actions {
    flex-basis: 100%;
  }
}