<div class="x-flex cesem-partners">
  <div>
    <a href="https://cesem.fcsh.unl.pt/en/" target="_blank"><img src="/{{ base_path ~ directory }}/cesem.png"></a>
  </div>
  <div>
    <a href="https://www.fcsh.unl.pt/en/" target="_blank"><img src="/{{ base_path ~ directory }}/fcsh-nova.png"></a>
  </div>
  <div>
    <a href="https://www.fct.pt/index.phtml.en" target="_blank"><img src="/{{ base_path ~ directory }}/fct-nova.png"></a>
  </div>
</div>